/target
*.dll
*.exe
*.appx
*.appxrecipe
*.msix
*.msixupload
*.pdb
*.mdb
*.db
*.vsidx
*.v2
*.suo
.vs/
*.log
*.tmp
Backup*/
*.user
*.userosscache
*.sln.docstates
*.trx
*.coverage
*.coveragexml
*.cache
*.log
*.tlog
*.idb
*.ipch
*.ilk
*.psess
*.vsp
*.vspx
